@charset "UTF-8";

html {
  background-image: url("background.jpg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#app_name {
  text-align: center; 
  color: black;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 45;
}

textarea {
  background-image: url("background.jpg");
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15%;
  margin-bottom: auto;
}

p {
color: blue;
font-size: 24px;
text-align: center;
}

#foot{
  position: fixed;
  bottom: 0px;
}

#megaman{
  position: absolute;
  left: 200px;
  bottom: 80px;
}

#speechbubble{
  position: absolute;
  left: 300px;
  bottom: 150px;
}

#stop_button_div{
  padding-left: 50%;
  }

#stop_button{
  background-color: red;
  color: white;
}