@charset "UTF-8";

html {
  background-image: url("background.jpg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

}

p {
color: blue;
font-size: 24px

}

header {
  font-size: 45
}
